<%= form_with(model: @appointment) do |form| %>
<%#= form_with url: "/edit_appointment_path", method: :get do |form| %>
  
  <div class="field">
    



  <div class="field">
    <%= form.label :doctor_id %>
    <%#= form.number_field :patient_id %>
    <%= form.select :doctor_id, Doctor.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>
<br><br>

  <div class="field">
    <%= form.label :Day %>
    <%= form.text_field :day %>
  </div>
<br><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
