<%= form_with(model: @appointment) do |form| %>
<%#= form_with url: "/edit_appointment_path", method: :get do |form| %>
  
  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.select :doctor_id, Doctor.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>
<br><br>

<% if current_user.role == 'Admin' %>
    <div class="field">
      <% patient = User.where(role: 'Patient') %>
   Patient:
    <%= form.select :user_id,patient.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div><br><br>
  <% end %>

  <div class="field">
    <%= form.label :Day %>
    <%= form.date_field :day %>
  </div>
<br><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
