<% flash.each do |type, msg| %>
  <div>
    <%=  msg %>
  </div>
<% end %>
<% debugger %>
<h1><%= current_user.role %> Appointments</h1>
<% if current_user.role == 'Patient' %>
  <h3> You Are <%= current_user.role %></h3>
  <h2><%= link_to 'Patient New Appointment', new_appointment_path %><br></h2>
<% elsif current_user.role == 'Doctor'%>
  <h3>You Are <%= current_user.role %></h3>
<% end %> 

<div style="text-align: center;">
<table border="1">
  <thead>
    <tr>
      <th> ID</th>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.id %></td>
        <% if current_user.role == 'Patient' %>
          <td><%= current_user.name %></td>
        <% elsif current_user.role == 'Doctor' %>
          <% user = User.find(appointment.user_id) %>
          <td> <%= user.name %> </td>
        <% end %>
        <% doc = Doctor.find(appointment.doctor_id) %>
        <td><%= doc.name %></td>
        <td><%= appointment.day %></td>
        <% if current_user.role == 'Doctor' %>
          <td> <%= button_to 'update', edit_appointment_path(appointment.id) ,method: :get %></td>
        <% elsif current_user.role == 'Patient'%>
          <td><%= button_to 'cancel Appointment' ,appointment_path(appointment.id),method: :delete ,data: {confirm: "Do you want to cancel appointment"} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<style type="text/css">
#app{
font-size: 20px;
margin: 0px 80px;
}
table{
width: 500px;
}
tr:nth-child(even){
background-color: #32a8a2;
}
td{
align: center;
}
</style>